/* Start main */
.main {
  background: url("images/banner.png") no-repeat;
  background-color: #1e202b;
  padding: 50px 0;
}

.main form {
  position: relative;
  margin-bottom: 60px;
}

.main form input:first-child {
  width: 100%;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 20px;
  color: white;
  background-color: #1e202b;
}

.main form input:last-child {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #009ad8;
  color: white;
  cursor: pointer;
  font-weight: lighter;
}

.main .forecasts .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main .forecasts .forecast-header {
  color: #bfc1c8;
  font-weight: lighter;
  font-size: 14px;
  padding: 14px;
}

.main .forecasts .forecast:first-child .forecast-header,
.main .forecasts .forecast:last-child .forecast-header {
  background-color: #2d303d;
}

.main .forecasts .forecast:first-child .forecast-header {
  border-top-left-radius: 10px;
}

.main .forecasts .forecast:first-child .forecast-body .city {
  color: #bfc1c8;
  font-size: 18px;
  margin-bottom: 2rem;
}

.main .forecasts .forecast:nth-child(2) .forecast-header {
  background-color: #222530;
}

.main .forecasts .forecast:last-child .forecast-header {
  border-top-right-radius: 10px;
}

.main .forecasts .forecast .forecast-body {
  height: 300px;
}

.main .forecasts .forecast:first-child .forecast-body {
  border-bottom-left-radius: 10px;
}

.main .forecasts .forecast:first-child .forecast-body .forecast-info span {
  padding-right: 10px;
  font-size: 14px;
  color: white;
}

.main .forecasts .forecast .forecast-body .forecast-info img {
  padding-right: 4px;
}

.main .forecasts .forecast:first-child .forecast-body,
.main .forecasts .forecast:last-child .forecast-body {
  background-color: #323544;
  padding: 25px 20px;
}

.main .forecasts .forecast:not(:first-child) .forecast-body,
.main .forecasts .forecast:last-child .forecast-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.main .forecasts .forecast:not(:first-child) .forecast-body .degree {
  font-weight: bolder;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.main .forecasts .forecast:not(:first-child) .forecast-body .img {
  padding-bottom: 20px;
}

.main .forecasts .forecast:nth-child(2) .forecast-body {
  background-color: #262936;
  padding: 25px 20px;
}

.main .forecasts .forecast:last-child .forecast-body {
  border-bottom-right-radius: 10px;
}

.main .forecasts .forecast .forecast-body .forecast-degree {
  margin-bottom: 1rem;
}

.main .forecasts .forecast .forecast-body .forecast-degree .degree-num.today-degree {
  color: white;
  font-size: 6rem;
  font-weight: 700;
}

.main .forecasts .forecast .forecast-body .forecast-degree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .forecasts .forecast .forecast-body .forecast-degree .degree-num {
  font-size: 60px;
  color: rgba(0, 0, 0, 0.1);
}

.main .forecasts .forecast .forecast-body .forecast-degree .degree-num + div img {
  margin-top: 20px;
  height: 6rem;
}

.main .forecasts .forecast .forecast-body .custom {
  font-size: 14px;
  color: #009ad8;
  margin-block: 15px;
}

@media (max-width: 767px) {
  .main .forecast {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main .forecast {
    width: calc(100% / 2);
  }
}

@media (min-width: 992px) {
  .main .forecast {
    width: calc(100% / 3);
  }
}

/* End main */
/*# sourceMappingURL=main.css.map */